<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RNA/DNA translator</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <h5>Enter DNA/RNA sequence</h5>
    <form name="dna_form" method="post">
        <p><input type="text" name="dna_seq" value="{{ dna_seq }}"> </p>
        <p><input type="submit"></p>
    </form>
    <p> Frame 1:<br />
    <ul>
        {% for level, seq in frame1 %}
           {% if level == 0 %}
            </ul>
            <li>{{ seq }}</li>
            {% else %}
            <ul><li>{{ seq }}</li>
            {% endif %}
        {% endfor %}<br />
    </ul>
        Frame 2:<br />
        {% for j in frame2 %}
            &emsp;{{ j[0] }}<br />
        {% endfor %}<br />
        Frame 3:<br />
        {% for k in frame3 %}
            &emsp;{{ k }}<br />
        {% endfor %}<br />
    </p>
</body>
</html>