<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RNA/DNA translator</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <h5>Enter DNA/RNA sequence</h5>
    <form name="dna_form" method="post">
        <p><input type="text" name="dna_seq" value="{{ dna_seq }}"> </p>
        <p><input type="submit"></p>
    </form>
    <p> Frame 1:<br />
        {% for level, seq in frame1 %}

            {% for i in range(0,level) %} &nbsp; {% endfor %}{{ seq }}<br />
        {% endfor %}<br />
        Frame 2:<br />
        {% for level, seq in frame2 %}
            {% for i in range(0,level) %} &nbsp; {% endfor %}{{ seq }}<br />
        {% endfor %}<br />
        Frame 3:<br />
        {% for level, seq in frame3 %}
            {% for i in range(0,level) %} &nbsp; {% endfor %}{{ seq }}<br />
        {% endfor %}<br />
    </p>
</body>
</html>